<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/project.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/tour.css" media="screen" rel="stylesheet" type="text/css" />
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title>Tour</title>
  </head>
  
  <body>
    <div class="container-fluid" id="hero-container">
      <div class="pull-right">
        <p>Connect with</p> <i class="icon icon-google-plus-sign"></i>  <i class="icon icon-facebook-sign"></i>  <i class="icon icon-twitter-sign"></i> 
        <span></span>
        <span></span> <i class="icon icon-user"></i> 
      </div>
      <h1 class="heading" id="title">Upload or Select your Article</h1>
      <h2 class="heading" id="subtitle">we'll get you up to speed quickly</h2>
      <div>
        <button class="btn btn-large pull-center">Get Started Now<em>!</em>
        </button>
      </div>
    </div>
    <div class="container"></div>
  </body>
  <script>
     require(['upload']);
  </script>
</html>
